
@font-face {
  font-family: 'EliceDigitalBaeum';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EliceDigitalBaeum';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

html, body, code, kbd, samp  {
  font-family: 'EliceDigitalBaeum', 'Noto Sans KR', sans-serif;
  font-size: 10px;
}

