.site-error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $color5;
  height: 100%;
  &__title {
    font-size: 4rem;
  }

  &__code {
    font-size: 3rem;
  }

  &__msg {
    margin-top: 1rem;
    font-size: 2rem;
  }
}
