.site-mobile-nav {
  display: none;
}

$nav-size: 20px;
$nav-pad: 10px;
$circle-bg-color: #f1f1f1;
$nav-pos-top: 20px;
$nav-pos-left: 20px;

@include tablet {
  .site-mobile-nav {
    display: block;
    position: fixed;
    z-index: 10000;
    top: $nav-pos-top;
    left: $nav-pos-left;

    .nav-toggler-wrapper {
      width: $nav-size;
      height: $nav-size;
      padding: $nav-pad;
      display: flex;
      border-radius: 50%;
      justify-content: center;
      align-items: center;
      background-color: $circle-bg-color;
      cursor: pointer;
      position: relative;
      z-index: 1000;

      .nav-toggler {
        position: relative;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        border: 0;
        background-color: transparent;

        .hamburger {
          position: absolute;
          left: 0;
          width: 100%;
          border-radius: 10%;
          height: 15%;
          background-color: gray;
          transition: transform 0.5s, top 0.5s;

          &.ham1 {
            top: 20%;
          }

          &.ham2 {
            top: 50%;
          }

          &.ham3 {
            top: 80%;
          }
        }
      }
      &.active {
        .nav-toggler {
          .hamburger {
            &.ham1 {
              top: 50%;
              transform: rotate(-45deg);
            }

            &.ham2 {
              opacity: 0;
            }

            &.ham3 {
              top: 50%;
              transform: rotate(45deg);
            }
          }
        }
      }
    }

    .dock {

      &.active {
        .dock-item {
          @for $i from 1 through 20 {
            &:nth-child(#{$i}) {
              top: calc(
                (#{$i}) * (#{$nav-size} + #{$nav-pad} * 2) + #{$i} * 10px
              );
              opacity: 1;
              transition: all calc(#{$i} * 0.3s);
            }
          }
        }
      }

      &-item {
        height: calc(#{$nav-size} + #{$nav-pad}* 2);
        width: calc(#{$nav-size} + #{$nav-pad}* 2);
        display: flex;
        background-color: $circle-bg-color;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: all 0.5s;
        z-index: 100;

        @for $i from 1 through 20 {
          &:nth-child(#{$i}) {
            z-index: calc(20 - #{$i});
          }
        }

        &:hover {
          .dock-item {
            &__image {
              width: 90%;
              height: 90%;
            }
          }
        }

        &__image {
          margin: auto;
          height: 60%;
          width: 60%;
          object-fit: contain;
          transition: all 0.5s;
        }

        &__name {
          position: absolute;
          top: 50%;
          left: 100%;
          margin-left: 5px;
          transform: translateY(-50%);
          text-decoration: none;
          background-color: $circle-bg-color;
          border-radius: 0.5rem;
          font-size: 1.2rem;
          font-weight: bold;
          padding: 0.7rem 1.3rem;
          white-space: nowrap;
          color: rgba(0, 0, 0, 0.6);
        }
      }
    }
  }
}
