.pagination {
  display: flex;
  user-select: none;
  margin: 6rem auto auto;
  width: fit-content;

  .page-number {
    display: flex;
    align-items: center;
    cursor: pointer;

    .num-item {
      font-size: 1.6rem;
      font-weight: bold;
      background-color: transparent;

      &:last-child {
        margin-right: 10px;
      }
    }
  }

  .pag-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background-color: $color3;
    border-radius: 4px;
    margin-right: 10px;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      background-color: $color3;
    }

    &.disable {
      background-color: $color1;
      filter: brightness(0.5);
      cursor: auto;
    }

    &.active {
      background-color: $key-color;
      color: $color2;
      img {
        filter: invert(1);
      }
    }

    img {
      width: 100%;
      height: 100%;
    }
  }
}
