.dock-wrapper {
  width: $dock-section-width;
  height: 100vh;
  margin: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

  .main-dock {
    width: $dock-width;
    background-color: $color1;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    padding: 0.5rem 0.5rem;
    border: 1px solid $color7;
    z-index: 10000;

    $dock: &;

    &__item {
      position: relative;
      display: flex;
      align-items: center;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }

    &__icon {
      width: $dock-width;
      cursor: auto;

      &:active {
        filter: brightness(60%);
      }
    }

    &__name {
      position: relative;
      background-color: $color1;
      border-radius: 0.5rem;
      font-size: 1.2rem;
      font-weight: bold;
      padding: 0.7rem 1.3rem;
      margin-left: 0.5rem;
      border: 1px solid $color4;
      box-shadow: 0 0 0 1px black;
      display: none;
      white-space: nowrap;
      color: $color7;


      &.active {
        display: block;
      }
    }
  }
}
