.main-header {
  display: flex;
  position: relative;
  align-items: center;
  height: $header-height;
  padding: 0 1.5rem;
  color: $color7;
  background-color: $color1;
  font-size: 1.2rem;
  z-index: 10000;

  &__logo {
    height: 80%;
    border-radius: 50%;
    margin: 0 1rem;

    img {
      height: 100%;
    }
  }

  &__title {
    position: relative;
    margin-left: 2rem;
    font-weight: bold;
  }

  &__category {
    display: flex;

    &-item {
      margin-right: 3rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .right-section {
    display: flex;
    margin-left: auto;
    &__item {
      display: flex;
      align-items: center;
      margin-right: 1.5rem;
      img {
        height: calc(#{$header-height / 2});
      }

      &.clock {
        margin-right: 0;
        opacity: 1;
      }
    }
  }

}
