.site-header {
  padding: 20px;
  width: 700px;
  margin: 0 auto;
  box-sizing: border-box;

  &__cover {
    width: 100%;
    max-height: 150px;
    object-fit: contain;
    object-position: top;
  }

  &__title {
    font-size: 1.3rem;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    margin-top: 20px;

    .emphasis {
      color: $key-color;
    }
  }

  &__search {
    width: 246px;
    margin: 20px auto;
    position: relative;

    input {
      width: 100%;
      height: 40px;
      box-sizing: border-box;
      background-color: $color2;
      border-radius: 10px;
      padding: 10px 40px 10px 20px;
      border: 0;
      color: white;

      &:focus-visible {
        outline: 0;
      }

      &::placeholder {
        color: $color4;
      }
    }

    .search-ico {
      position: absolute;
      right: 12px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

@include mobile {
  .site-header {
    max-width: 100%;
    &__search {
      max-width: 80%;
    }
  }
}
