.mobile-menu {
  .search {
    display: none;
  }
}

@include mobile {
  .mobile-menu {
    position: fixed;
    top: 70px;
    z-index: 1000;
    background-color: $mobile-menu-color;
    backdrop-filter: blur(10px);
    width: 100%;
    height: 0;
    transition: height 0.5s;
    overflow: hidden;

    &.active {
      height: 100%;
    }

    .search {
      display: block;
      margin: 2rem auto;
    }

    .dock {
      &-item {
        &__link {
          display: flex;
          align-items: center;
        }
      }
    }
  }
}
