.site-sidebar {
  display: flex;
  flex-direction: column;

  &__sticky {
    position: sticky;
    top: 50px;
    margin-top: 2rem;
  }
}

@include mobile {
  .site-sidebar {
    display: none;
  }
}
