// Color

$color1: #202123;
$color2: #2C2D31;
$color3: #36373A;
$color4: #555555;
$color5: #656565;
$color6: #bbbbbb;
$color7: #ecebec;

$key-color: #008bff;

// Layout
$header-height: 3rem;
$dock-width: 4rem;
$dock-section-width: 5rem;
$dock-margin-left: 1rem;

$post-hero-height: 550px;
$post-width: 700px;

$post-font-size: 1.6rem;

:export {
  dockWidth: $dock-width;
}
